@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGreyColor: #616161;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	//background: #f5f2de;
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

.main-slider {
	background: #f0ebe5;
	&__container {
	}

	&__body {
		padding-top: 140px;
		position: relative;
		z-index: 2;
		@media (max-width:$md2+px) {
			padding-top: 80px;
		}
		@media (max-width:$md3+px) {
			padding-top: 50px;
		}
		//делаем флекс контейнер, 
		@media (min-width:$md2+px) {
			display: flex;
		}
	}
	//элемент флекс контейнера body
	&__content {
		flex: 0 0 494/1240 * 100%;
	}
	//элемент флекс контейнера body
	&__slider {
		//позволяем увеличиваться на все оставшееся пространство.
		flex: 1 1 auto;
		//если слайдер находится внутри флекс элемента или является флекс элементом то обязательно делаем:
		min-width: 0;
	}
}

.content-main {
	position: relative;
	//дял того чтобы контентный блок был над слайдерами
	z-index: 5;
	padding-left: 15px;
	padding-right: 15px;
	background: rgba(255, 255, 255, 0.72);
	@include adaptiv-value("padding-top", 60, 15, 1);
	@include adaptiv-value("padding-bottom", 60, 15, 1);
	@media (min-width:$md2+px) {
		@include adaptiv-value("padding", 60, 1, 1);
		background: rgba(255, 255, 255, 0.9);
	@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}
	&__title {
		@include adaptiv-value("font-size", 56, 24, 1);
		font-weight: 700;
		line-height: 120%;
		margin-bottom: 16px;
	}

	&__text {
		font-size: 16px;
		color: $grayColor;
		font-weight: 500;
		line-height: 150%;
		margin-bottom: 20px;
	}

	&__button {
		@include adaptiv-value("min-height", 78, 45, 1);
		font-size: 20px;
		font-weight: 600;
		background-color: $orangeColor;
		color: #fff;
		width: 100%;
		@media (any-hover: hover) {
			&:hover {
				background: #966749;
			}
		}
	}
}

/*.button {
}

.slider-main {

	&__controls {
	}

	&__body {
	}

	&__slide {
	}

	&__image {
	}

	&__content {
	}

	&__title {
	}

	&__text {
	}

	&__price {
	}
}

.controls-slider-main {

	&__dotts {
	}

	&__arrows {
	}
}*/

//</ОСНОВНОЙ БЛОК>====================================================================================================
