@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1270px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGreyColor: #616161;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer;
	padding: 0px 15px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	&__wrapper {
		//ШАПКА ФИКСИРОВАНА И ДВИГАЕТСЯ ПРИ СКРОЛЛЕ
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
	}

	&__container {
	}

	&__body {
		display: flex;
		align-items: center;
		min-height: 125px;
		padding: 5px 0;
	}

	&__main {
		display: flex;
		align-items: center;
		flex: 0 0 494/1240 * 100%;
	}

	&__logo {
		color: #000;
		font-size: 24px;
		font-weight: 700;
		line-height: 29/24 * 100%;
	}

	&__menu {
	}

	&__search {
	}

	&__actions {
	}
}

.menu {
	flex: 0 1 420px; // 1 - позволяет уменьшаться меню
	&__body {
	}

	&__list {
		@media (min-width: $md3+px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			//justify-content: space-around;
		}
	}

	// это li внутри ul с классом list
	&__item {
		display: flex;	//позволяет встать в ряд со стрелками
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0px 3px;
		padding: 5px 0;
		position: relative;
		//работает на устройствах где есть мышь, т.е. курсор
		@media (any-hover: hover) {
			&:hover{
				.menu__sub-list {
					transform: translate(0px, 0px);
					opacity: 1;
					visibility: visible;
					//убирает баг при наведении
					pointer-events: auto;
				}
				.menu__arrow {
					transform: rotate(-180deg);
				}
				.menu__arrow,
				.menu__link {
					color: $orangeColor;
				}
			}
		}
		//стили открытия подменю на тачскринах
		@media (min-width:$md3+px) {
			&._hover {
				.menu__sub-list {
					transform: translate(0px, 0px);
					opacity: 1;
					visibility: visible;
					//убирает баг при наведении
					pointer-events: auto;
				}
				.menu__arrow {
					transform: rotate(-180deg);
				}
				.menu__arrow,
				.menu__link {
					color: $orangeColor;
				}
			}
		}
	}

	&__link {
		font-weight: 500;
		color: inherit;
		transition: color 0.3s ease 0s;
	}

	&__arrow {
		margin-left: 8px;
		font-size: 10px;
		transition: all 0.3s ease 0s;
	}

	&__sub-list {
		position: relative;
		background-color: $orangeColor;
		padding: 15px;
		flex: 1 1 100%;
		@media (min-width:$md3+px){
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			transform: translate(0px, 15px);
			min-width: 200px;
			top: 100%;
			left: 0;
			//убирает баг при наведении
			pointer-events: none;
			position: absolute;
		}
	}

	&__sub-item {
		//отступ вниз для всех обьектов кроме последнего
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
	}
	&__sub-link {
		color: #fff;
		line-height: 120%;
	}
}
.search-form {
	&__icon {
	}

	&__item {
	}

	&__btn {
	}

	&__input {
	}
}
.actions-header {
	&__item {
	}

	&__item-favorites {
	}

	&__item-user {
	}
}
.cart-header {
	&__icon {
	}

	&__body {
	}

	&__list {
	}
}
.cart-list {
}
.icon-menu {
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
